:root {
  --white: #ffff;
  --green: #207561;
  --text: #666;
  --links: #888888;
  --title: #000;
  --secondary-bg: #343a40;
  --third-bg: #f8f9fa;
  --btn-hover: #212529;
  --subtitles-desktop: 1rem;
  --titles-desktop: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arbutus Slab", serif;
  font-weight: 400;
  color: var(--text);
  line-height: 1.7;
  font-size: var(--subtitles-desktop);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title);
}

button {
  font-family: "Arbutus Slab", serif;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: var(--subtitles-desktop);
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover);
}
